@import "approvaltree/approvaltree"

*
  box-sizing: border-box

body
  padding-top: 70px
  padding-right: 5%
  padding-left: 5%
  max-width: 1105px
  margin: 0 auto

.ui-select-bootstrap
  width: 49%
  display: inline-block