@import "cde"
@import "approvaltree/approvaltree"

*
  box-sizing: border-box

body
  padding-top: 70px
  padding-right: 5%
  padding-left: 5%
  max-width: 1105px
  margin: 0 auto

.period-selector
  .period-selector-type, .period-selector-period
    width: 49%
    display: inline-block

  .period-selector-type
    margin-right: 1%

.dataset-group-selector
  div
    width: 99.5%

.dataset-group-selector-wrap
  margin-bottom: 15px

//Kuler color codes
//  276696
//  FCFFF5
//  D1DBBD
//  91AA9D
//  3E606F
//  193441

h1
  color: #3E606F
  font-size: 2em
  font-weight: normal

h4
  color: #193441
  margin-top: 30px
  position: relative
  font-weight: 200

table
  width: 100%
  font-size: 0.9em
  -moz-border-radius: 10px
  -webkit-border-radius: 10px
  margin-bottom: 50px

th, td
  /*width: 16%*/
  padding: 10px
  padding-top: 5px
  padding-bottom: 5px
  height: 50px

  &:nth-child(2)
    width: auto

  &:first-child
    width: 1%

th
  background-color: #2C3E50
  color: #FCFCFC
  height: 25px

td:last-child button
  width: 92px

.table-wrap
  position: relative

tr:nth-child(even)
  background-color: #ECF0F1

tr:nth-child(odd)
  background-color: #FCFCFC

.available-actions
  position: absolute
  font-size: 1.2em
  height: 1em
  width: 1em
  top: -.5em
  margin-left: .5em

.available-actions-dot
  color: #E7AA5C
  font-size: 1.25em

.available-actions-text
  color: white
  font-size: .8em

.info-wrap
  position: relative

.info-wrap h1
  color: #3E606F
  font-size: 2.5em
  font-weight: 100
  margin-top: 0
  margin-bottom: 30px

  .info-button
    color: #ECF0F1

.status
  position: absolute
  right: 5px
  top: 7px
  font-size: 1.5em

  .prefix
    color: #D1DBBD
    &:after
      content: ": "

  &.completed
    color: #E7AA5C

.done
  font-size: 2em
  font-weight: 200
  margin: 30px 0
  background-color: #2980B9
  color: #FFFFFF
  padding: 15px
  border-left: 10px solid #2C3E50
  border-radius: 8px

  .fa
    color: #E7AA5C
    margin-right: 10px

  span
    font-size: .5em

.mechanism
  margin: 20px 0

.full-button
  width: 100%

.approvals .full-button
  margin-top: 20px
  margin-bottom: 40px

.info-wrap.bottom
  margin-bottom: 60px

.btn-approval
  color: #fff
  background-color: #E7AA5C
  border-color: #CF9852

.btn-approval:hover,
.btn-approval:focus,
.btn-approval:active,
.btn-approval.active,
.open > .dropdown-toggle.btn-approval
  color: #fff
  background-color: #F4B361
  border-color: #CD9752
          
