<div class="dataset-view">
    <div class="dataset-view-controls">
        <div ng-show="details.loaded < details.dataSetsFilteredByMechanisms.length">
            <progressbar type="success" max="100" value="(100 / details.dataSetsFilteredByMechanisms.length) * details.loaded">Loading Reports: {{ (100 / details.dataSetsFilteredByMechanisms.length) * details.loaded  | number : 0 }}%</progressbar>
        </div>
        <div class="action-buttons">
            <div class="btn-group">
                <button ng-click="dataView.submit(dataView.details.actions.approve)"
                        ng-if="dataView.details.actions.approve.length > 0"
                        ng-disabled="dataView.isLocked"
                        class="btn btn-primary"
                        ng-bind="dataView.getActionTextFor('approve')">Submit</button>
                <button ng-click="dataView.accept(dataView.details.actions.accept)"
                        ng-if="dataView.details.actions.accept.length > 0"
                        ng-disabled="dataView.isLocked"
                        class="btn btn-primary"
                        ng-bind="dataView.getActionTextFor('accept')">Accept</button>
                <button ng-click="dataView.unapprove(dataView.details.actions.unapprove)"
                        ng-if="dataView.details.actions.unapprove.length > 0"
                        ng-disabled="dataView.isLocked"
                        class="btn btn-default"
                        ng-bind="dataView.getActionTextFor('unapprove')">Unubmit</button>
                <button ng-click="dataView.unaccept(dataView.details.actions.unaccept)"
                        ng-if="dataView.details.actions.unaccept.length > 0"
                        ng-disabled="dataView.isLocked"
                        class="btn btn-default"
                        ng-bind="dataView.getActionTextFor('unaccept')">Unaccept</button>

            </div>
            <div class="btn-group place-right">
                <button class="btn btn-default" ng-click="app.showData = false" translate>Back</button>
            </div>
        </div>
    </div>
    <dataset-view></dataset-view>
</div>
