<!DOCTYPE html>
<html>
<head>
    <title>Data Approval</title>

    <link href="vendor/toastr.css" rel="stylesheet"/>
    <link href="vendor/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="vendor/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="vendor/d2js/css/d2.css" rel="stylesheet" type="text/css" />
    <link href="vendor/select.css" type="text/css" rel="stylesheet" />

    <link href="css/app.css" rel="stylesheet" type="text/css" />
</head>
<body ng-controller="appController as app">
    <d2-header-bar></d2-header-bar>

    <div class="info-wrap">
        <div>
            <h1 ng-bind="app.title">Data approval</h1><span class="status"><span class="prefix" translate>status</span><span ng-show="app.actionItems" ng-bind="app.actionItems" class="badge available-actions-dot"></span><span ng-bind="app.getStatus()"></span></span>
        </div>
    </div>

    <div class="dropdown-controls">
        <div class="dataset-group-selector-wrap">
            <dataset-group-selector></dataset-group-selector>
        </div>

        <div class="period-selector-wrap">
            <period-selector></period-selector>
        </div>
    </div>

    <div class="dropdown-controls">
        <div class="organisationunit-selector-wrap">
            <organisationunit-selector></organisationunit-selector>
        </div>
    </div>

    <div ng-show="app.loading" class="table-tab-wrap">
        <div class="report-loading-message"><i class="fa fa-circle-o-notch fa-spin"></i>&nbsp;<span translate>Loading mechanisms please wait...</span></div>
    </div>
    <div ng-show="!app.showData && !app.loading" class="table-tab-wrap ng-hide">
        <div class="action-buttons">
            <div>
                <button class="btn btn-primary" ng-disabled="!app.hasAllDetails()" ng-click="app.updateDataView()">Proceed</button>
                <span class="info info-side" ng-show="!app.hasAllDetails()"><i class="fa fa-lg fa-comment"></i><span translate>Please select mechanisms before proceeding</span></span>
                <span class="info info-side" ng-show="app.hasAllDetails()"><i class="fa fa-lg fa-comment"></i><span translate>Click proceed to view the data and perform actions</span></span>
                <button class="info-box-button btn btn-default" ng-click="app.infoBox.showBox()"><i class="fa fa-question-circle"></i></button>
            </div>
        </div>

        <div class="well help-text-box ng-hide" ng-show="(app.infoBox.levelAbove || app.infoBox.levelBelow) && app.infoBox.isShowing">
            <div class="row" ng-show="app.infoBox.levelBelow"><span class="col-sm-2 action-name">Accept:</span><span class="col-sm-10">Accepts and locks data from further modification by {{app.infoBox.levelBelow}} level.</span></div>
            <div class="row" ng-show="app.infoBox.levelBelow"><span class="col-sm-2 action-name">Return submission:</span><span class="col-sm-10">Returns the submission back to {{app.infoBox.levelBelow}} level.</span></div>
            <div class="row" ng-show="app.infoBox.levelAbove"><span class="col-sm-2 action-name">Submit:</span><span class="col-sm-10">Submits data to {{app.infoBox.levelAbove}} level.</span></div>
            <div class="row" ng-show="app.infoBox.levelAbove"><span class="col-sm-2 action-name">Recall submission:</span><span class="col-sm-10">Takes the submission back from {{app.infoBox.levelAbove}} level.</span></div>
        </div>

        <tabset justified="true">
            <tab ng-show="app.tabs.accept.access && tableView.hasItems(app, 'accept')"
                 ng-controller="acceptTableViewController as tableView"
                 disabled="!tableView.hasItems(app, 'accept')"
                 active="app.tabs.accept.state"
                 deselect="app.deSelect('accept')">
                <tab-heading>
                    <span class="action-name" ng-repeat="action in app.tabs.accept.name" ng-class="action">
                        <span class="action-or" ng-if="$index > 0" translate>or</span>
                        <span ng-bind="action | translate"></span>
                    </span>
                    <span class="badge available-items-dot" ng-class="{'available-actions-dot': tableView.hasActionItems}" ng-bind="tableView.approvalTableData.length"></span>
                </tab-heading>
                <div ng-include="'tableview.html'"></div>
            </tab>
            <tab ng-show="app.tabs.submit.access && tableView.hasItems(app, 'submit')"
                 ng-controller="acceptedTableViewController as tableView"
                 disabled="!tableView.hasItems(app, 'submit')"
                 active="app.tabs.submit.state"
                 deselect="app.deSelect('submit')">
                <tab-heading>
                    <span class="action-name" ng-repeat="action in app.tabs.submit.name" ng-class="action">
                        <span class="action-or" ng-if="$index > 0" translate>or</span>
                        <span ng-bind="action | translate"></span>
                        <i class="fa fa-arrow-down" ng-show="action == 'Return submission'"></i>
                        <i class="fa fa-arrow-up" ng-show="action == 'Submit'"></i>
                    </span>
                    <span class="badge available-items-dot" ng-class="{'available-actions-dot': tableView.hasActionItems}" ng-bind="tableView.approvalTableData.length"></span>
                </tab-heading>
                <div ng-include="'tableview.html'"></div>
            </tab>
            <tab ng-show="app.tabs.unsubmit.access && tableView.hasItems(app, 'unsubmit')"
                 ng-controller="submittedTableViewController as tableView"
                 disabled="!tableView.hasItems(app, 'unsubmit')"
                 active="app.tabs.unsubmit.state"
                 deselect="app.deSelect('unsubmit')">
                <tab-heading>
                    <span class="action-name" ng-repeat="action in app.tabs.unsubmit.name" ng-class="action">
                        <span class="action-or" ng-if="$index > 0" translate>or</span>
                        <span ng-bind="action | translate"></span>
                        <i class="fa fa-arrow-down" ng-show="action == 'Recall submission'"></i>
                    </span>
                    <span class="badge available-items-dot" ng-bind="tableView.approvalTableData.length"></span>
                </tab-heading>
                <div ng-include="'tableview.html'"></div>
            </tab>
            <tab ng-show="app.tabs.view.access"
                 ng-controller="viewTableViewController as tableView"
                 disabled="!tableView.hasItems(app, 'view')"
                 active="app.tabs.view.state"
                 deselect="app.deSelect('view')">
                <tab-heading>
                    <span ng-bind="app.tabs.view.name | translate"></span>
                    <span class="action-or" ng-if="$index > 0" translate>or</span>
                    <span class="badge available-items-dot" ng-bind="tableView.approvalTableData.length"></span>
                </tab-heading>
                <div ng-include="'tableview.html'"></div>
            </tab>
        </tabset>
    </div>

    <div ng-controller="dataViewController as dataView" ng-show="app.showData" class="view-wrap">
        <div ng-include="'dataview.html'"></div>
    </div>

    <script src="vendor/vendor.js"></script>
    <script src="vendor/d2js/js/d2.js"></script>
    <script src="js/app.js"></script>

    <!-- Scripts and stylesheet loader based on the location set in the manifest -->
    <script>
        (function (jQuery) {
            //TODO: Improve this script loader and bootstrapper
            var dhis2Root;

            var dhis2CoreScripts = [
                '/dhis-web-commons/javascripts/jQuery/calendars/jquery.calendars.min.js',
                '/dhis-web-commons/javascripts/jQuery/calendars/jquery.calendars.plus.min.js',
                '/dhis-web-commons/javascripts/dhis2/dhis2.util.js',
                '/dhis-web-commons/javascripts/dhis2/dhis2.period.js',
                '/dhis-web-commons/javascripts/jQuery/ui/jquery-ui.min.js',
                '/dhis-web-commons/javascripts/dhis2/dhis2.translate.js',
                '/dhis-web-commons/javascripts/dhis2/dhis2.menu.js',
                '/dhis-web-commons/javascripts/dhis2/dhis2.menu.ui.js'
            ];

            $.ajaxSetup({
                cache: true
            });

            function loadScript(callBack) {
                var script;
                if (dhis2CoreScripts.length > 0) {
                    script = dhis2CoreScripts.shift();

                    jQuery.getScript(dhis2Root + script, function () {
                        loadScript(callBack);
                    });
                } else {
                    callBack();
                }
            }

            jQuery.get('manifest.webapp').success(function (manifest) {
                var manifest = JSON.parse(manifest);

                dhis2Root = manifest.activities.dhis.href;
                if (!dhis2Root) {
                    console.error('Error trying to get the dhis2 url from the manifest');
                }

                window.dhis2 = window.dhis2 || {};
                dhis2.settings = dhis2.settings || {};
                dhis2.settings.baseUrl = dhis2Root.replace(window.location.origin, '').replace(/^\//, ''); //TODO: Perhaps this regex should go into the menu.js

                //Load all the required scripts and then launch the angular app
                loadScript(function (){
                    angular.module('PEPFAR.approvals').factory('AppManifest', function () {
                        return manifest;
                    });
                    jQuery.get(dhis2Root + '/api/systemSettings.json').success(function (systemSettings) {
                        function configureApp(language) {
                            angular.module('PEPFAR.approvals').config(function ($provide, d2ApiProvider, $translateProvider) {
                                $provide.constant('API_ENDPOINT', dhis2Root + '/api');
                                d2ApiProvider.setBaseUrl(dhis2Root + '/api');
                                $translateProvider.use(language);
                                $translateProvider.preferredLanguage(language);
                            });
                        }

                        angular.module('PEPFAR.approvals').factory('systemSettings', function () {
                            return systemSettings;
                        });

                        jQuery.ajax({ url: dhis2Root + '/api/userSettings/keyUiLocale/', contentType: 'text/plain', method: 'GET', dataType: 'text' }).success(function (uiLocale) {
                            configureApp(uiLocale);

                            angular.bootstrap(document, ['PEPFAR.approvals']);
                        }).fail(function () {
                            console.warn('Failed to load uiLocale from userSettings: defaulting to english');
                            configureApp('en');

                            angular.bootstrap(document, ['PEPFAR.approvals']);
                        });
                    });


                });

                //Load the jquery ui stylesheet for the forms
                jQuery('<link/>', {
                    rel: 'stylesheet',
                    type: 'text/css',
                    href: dhis2Root + '/dhis-web-commons/javascripts/jQuery/ui/css/redmond/jquery-ui.css'
                }).appendTo('head');

                jQuery('<link/>', {
                    rel: 'stylesheet',
                    type: 'text/css',
                    href: dhis2Root + '/dhis-web-commons/css/menu.css'
                }).appendTo('head');
            });
        })(jQuery);
    </script>
</body>
</html>
